Repository angelozdev/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm run lint:css

.lintstagedrc.json:

{
   "*.{js,ts,tsx,jsx}": "eslint --cache --fix",
   "*.ts": "npm run lint:css"
}

feat(about): image and animation
  package-lock.json
  package.json
  public/image.jpg
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/styles.ts
  src/components/molecules/SocialNetworks/styles.ts
  src/components/organisms/About/index.tsx
  src/components/organisms/About/styles.ts
  src/styles/theme.ts
  webpack.config.js
Due: eslint --cache --fix, npm run lint:css

refactor: add image in card component
  src/components/index.d.ts
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/styles.ts
  src/components/organisms/About/index.tsx
  src/components/organisms/About/styles.ts
  tsconfig.json
Due: eslint --cache --fix, npm run lint:css

refactor: add socialNetworks to fixtures
  src/components/molecules/SocialNetworks/index.tsx
  src/fixtures/socialNetworks.tsx
Due: eslint --cache --fix

feat: update scrollbar and some configurations
  commitlint.config.js
  package-lock.json
  package.json
  src/styles/GlobalStyle.ts
  tsconfig.json
  webpack.config.js
Due: eslint --cache --fix, npm run lint:css

docs: update description technologies
  README.md
Due: none

feat(techs): add icons and frontend techs section
  README.md
  src/components/Icons/Bootstrap.tsx
  src/components/Icons/Css.tsx
  src/components/Icons/Html.tsx
  src/components/Icons/JavaScript.tsx
  src/components/Icons/React.tsx
  src/components/Icons/Redux.tsx
  src/components/Icons/Sass.tsx
  src/components/Icons/StyledComponents.tsx
  src/components/Icons/Stylus.tsx
  src/components/Icons/Tailwind.tsx
  src/components/Icons/TypeScript.tsx
  src/components/Icons/Webpack.tsx
  src/components/Icons/index.ts
  src/components/molecules/Technologies/index.tsx
  src/components/molecules/Technologies/styles.ts
  src/components/molecules/index.ts
  src/components/pages/Home.tsx
  src/styles/theme.ts
Due: eslint --cache --fix, npm run lint:css

feat: add backend technologies section
  src/components/Icons/Express.tsx
  src/components/Icons/GraphQL.tsx
  src/components/Icons/Node.tsx
  src/components/Icons/Passport.tsx
  src/components/Icons/ReactRouterDom.tsx
  src/components/Icons/index.ts
  src/components/molecules/Technologies/index.tsx
  src/components/pages/Home.tsx
  src/fixtures/backendTechnologies.tsx
  src/fixtures/frontendTechnologies.tsx
  src/fixtures/headerList.ts
  src/interfaces/components/index.ts
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
Due: eslint --cache --fix, npm run lint:css

feat: begin with projects section
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/styles.ts
  src/components/organisms/About/index.tsx
  src/components/organisms/Projects/index.tsx
  src/components/organisms/Projects/styles.ts
  src/components/organisms/index.ts
  src/components/pages/Home.tsx
  src/interfaces/styles/index.ts
  src/styles/theme.ts
Due: eslint --cache --fix, npm run lint:css

feat: finish structure of projects section
  src/components/atoms/Wrapper/styles.ts
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/styles.ts
  src/components/molecules/Technologies/styles.ts
  src/components/organisms/About/index.tsx
  src/components/organisms/Projects/index.tsx
  src/fixtures/projects.ts
  src/interfaces/components/index.ts
  src/styles/theme.ts
Due: eslint --cache --fix, npm run lint:css

feat(projects): add animations on hover
  src/components/atoms/Divider/styles.ts
  src/components/molecules/Card/styles.ts
  src/components/organisms/Projects/index.tsx
  src/styles/theme.ts
Due: eslint --cache --fix, npm run lint:css

feat: footer section
  src/components/molecules/SocialNetworks/styles.ts
  src/components/organisms/Footer/index.tsx
  src/components/organisms/Footer/styles.ts
  src/components/organisms/Projects/styles.ts
  src/components/organisms/index.ts
  src/components/pages/Home.tsx
Due: eslint --cache --fix, npm run lint:css

docs: add deploy link
  README.md
Due: none

feat: progressive web app
  package-lock.json
  package.json
  public/icon.png
  public/index.html
  src/components/Icons/Logo.tsx
  src/components/Icons/index.ts
  src/components/index.d.ts
  src/components/organisms/Header/index.tsx
  src/fixtures/index.d.ts
  webpack.config.js
Due: eslint --cache --fix, npm run lint:css

docs: update title
  public/index.html
Due: none

:building_construction: Feat: finish profile
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/favicon.svg
  src/components/container/container.astro
  src/components/hero/hero.astro
  src/components/link/link.astro
  src/components/navbar/components/link.astro
  src/components/navbar/navbar.astro
  src/components/profile/profile.astro
  src/components/section/section.astro
  src/components/text-with-tooltip/text-with-tooltip.astro
  src/env.d.ts
  src/pages/index.astro
  src/theme/index.ts
  src/theme/theme.ts
  src/utils/cva.ts
  src/utils/index.ts
  tsconfig.json
Due: eslint --cache --fix, npm run lint:css

:recycle: Perf: housekeeping
  src/components/hero/hero.astro
  src/components/navbar/components/link.astro
  src/components/navbar/navbar.astro
  src/components/profile/profile.astro
  src/components/text-with-tooltip/text-with-tooltip.astro
  src/components/title/title.astro
  src/pages/index.astro
  src/styles/helpers.css
  src/styles/index.css
  src/styles/utilities.css
  src/theme/index.ts
  src/theme/theme.ts
Due: eslint --cache --fix, npm run lint:css

:bento: ui: add some icons
  public/github.svg
  public/linkedin.svg
  public/logo.svg
  src/components/hero/hero.astro
  src/components/navbar/components/social.astro
  src/components/navbar/navbar.astro
  src/pages/index.astro
Due: none

:recycle: Perf: refactor code
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/about/about.astro
  src/components/hero/hero.astro
  src/components/navbar/components/social-network.astro
  src/components/navbar/components/social-networks.astro
  src/components/navbar/components/social.astro
  src/components/navbar/navbar.astro
  src/components/profile/profile.astro
  src/components/title/title.astro
  src/components/ui/container.astro
  src/components/ui/link.astro
  src/components/ui/section.astro
  src/components/ui/separator.astro
  src/components/ui/text-with-tooltip.astro
  src/components/ui/title.astro
  src/pages/index.astro
  src/styles/helpers.css
Due: none
